@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:lightcoral;
    color:white;
}

.wrapper {
    min-width: 300px;
    max-width: 1000px;
    /*background-color: #FFDC00;*/
    margin: 0 auto;
    padding-left: 15px;
   
}

.main {
    display:inline-block;
}

.sidebar {
    display:inline-block;
}

.header {
    height:100vh;
    max-height:100vh;
    width:100%;
    /* background-image: linear-gradient(#BC2131, #FFF); */
    position: relative;
    flex: 1;
}

.section {
    margin-top: 50px;
}

a.header:visited {
    color:inherit;
}

.title-text {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
}

.mobile-title {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.appbar {
    top: 'auto';
    bottom: 0,
}

h1 {
    text-align: center;
}

.icons {
    font-size: 30px;
    padding: 5px;

}

a {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:white;
    text-decoration:none;
}

a:active {
    color:white;
}

a.company-url {
    display:inline-block;
    text-decoration: none;
}

a.company-url:visited {
    color:white;
    text-decoration: none;
}

a.company-url:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

a.company-url:hover:after {
    width: 100%;
}

.entry {
    margin-top:25px;
}

footer {
    margin: 0 auto;
    margin-bottom:50px;
}

.contact {
    margin: 0 auto;
    text-align:center;
}

.footer-text {
    text-align:center;
}

a.socials {
    color:white;
}

a.socials:visited {
    color: white;
}

a.socials:hover {
    transition: 0.3s;
}

a.gh:hover {
    color: #4078c0;
}

a.ln:hover {
    color: #0077b5;
}

a.ig:hover {
    color: #5851db;
}

a.fb:hover {
    color: #3b5998;
}

a.tw:hover {
    color: #1da1f2;
}

a.yt:hover {
    color: #ff0000;
}

a.em:hover {
    color: gray;
}

.bio-text {
    width:75%;
    float: left;
}

img.headshot {
    border-radius: 50%;
    box-shadow: 10px 10px 20px -13px rgba(0,0,0,0.75);
    width: 13%;
    margin-left:20px;
}

.bio {
    display:inline-block;
}

a.resume {
    color: #BD6464;
    text-decoration: none;
}

a.resume:visited {
    color:#F2C9C9;
}

.technology {
    color:white;
    background-color: #BD6464;
    border-radius: 5px;
    opacity:0.6;
    padding:5px;
    display:inline-block;
    margin-left:5px;
    margin-top:5px;
}

div.technology:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: crosshair;
}

/* Mobile */

.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 768px) {
    .content-desktop {
        display: none;
    }
    .content-mobile {
        display: block;
    }
}

/* Arrow Animation courtesy of Jakub Honíšek */
/* See more designs at: https://freefrontend.com/css-arrows/ */

.arrow {
  position: absolute;
  left: 50%;
  bottom: 125px;  
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
   }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
   }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
   }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
   }
}

/* Particles helper code */

.router {
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
}

.content {
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
}

canvas {
    width: 100%;
    height: 100%;
    display:block;
}

.particles-js-canvas-el {
    height: 100vmax !important;
    z-index: 0;
}

/* Typist */

.Typist .Cursor {
    display: inline-block; 
}

.Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; 
}

.blink {
    opacity: 1;
    animation: blink 1s linear infinite;
}
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } 
}